# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Global ignore
.idea/workspace.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.stackdump
*.xml
*.xml
.idea/workspace.xml
*.xml
*.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
src/Distributore/Distributore.java
src/Distributore/Distributore.java
src/File_Testo/monete.txt
*.xml___jb_old___
out/production/Progetto-L18/File_Testo/stats.txt
.idea/misc.xml
